:host {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: white;
  border: solid 1px #cccccc;
  margin-bottom: 10px;
}

mat-toolbar {
  button {
    margin: 0 4px;
  }
}

.full-width {
  flex: 1 1 auto;
}
